<section id=features >     
        <div class="flip-card  wow animate__fadeInUp"   *ngFor="let feature of features ; let i = index" [attr.data-index]="i" data-wow-delay="0.5s">
                <div class="flip-card-inner" [ngClass]="{'flip':isFlipped(i) , 'hover':hover[i]}">
                        <div class="flip-card-front " [ngClass]="feature.bkgclr" (click)="flip(i)">
                                <div style="border-radius:100%; background-color:white;width:10rem;height:10rem;box-shadow: 0px 0px 11px -1px rgba(3,3,3,0.75);
                                -webkit-box-shadow: 0px 0px 11px -1px rgba(3,3,3,0.75);
                                -moz-box-shadow: 0px 0px 11px -1px rgba(3,3,3,0.75);display: flex;justify-content: center;align-items: center;"> 
                                        <img  [src]="feature.img" style="max-width:7rem;max-height:7rem;">
                                </div>
                                
                                <h1 style=" font-size:2rem; font-weight: bold;">{{feature.title}}</h1>
                        </div>
                        <div class="flip-card-back">
                                <p>{{feature.content}}</p>
                        </div>
                </div>
        </div>  
</section>
