<header  >
    <app-meanue></app-meanue>
     <div class=cover ></div>
    <!-- <video id="videoBG" [ngClass]="{displayVid: isVid}" [src]="bkgVid" autoplay [muted]="true" loop >
    </video>
    <img [src]="bkgPic" id=bkgImg [ngClass]="{displayImg: isPic}"> -->
      <div class="div container left" [ngClass]="{'animate__animated':animateClass,'animate__lightSpeedInLeft':animateClass,'animLeft':shapeClass,'delay-left':animateClass}"  ></div>
      <div class="div m" [ngClass]="{'animate__animated':animateClass,'animate__lightSpeedInLeft':animateClass,'anim':shapeClass,'delay-m':animateClass}"  ></div>
      <div class="div w" [ngClass]="{'animate__animated':animateClass,'animate__lightSpeedInLeft':animateClass,'anim':shapeClass}"  ></div>
      <div class="div container dash" [ngClass]="{'animate__animated':animateClass,'animate__lightSpeedInLeft':animateClass,'anim2':shapeClass}"  ></div>
      <div class="div container right" [ngClass]="{'animate__animated':animateClass,'animate__lightSpeedInLeft':animateClass,'animRight':shapeClass}"  ></div>
      <h2  class="header-title animate__animated animate__fadeInUp" >مصممة موشن جرافيك</h2>
</header>
