<section id=about>
        <article class="wow animate__fadeInUp" style="font-size: 2rem;text-align:center;padding:0 15vw;" data-wow-delay="0.5s">
                <h1>عني؟</h1>
                 <p>خريجة جامعة الملك سعود كلية الحاسب قسم تقنية المعلومات مسار تقنيات الويب والملتيميديا
                     اهوى تصميم الموشن جرافيك باستخدام برامج فوتوشوب وافترافكت والرسم باستخدام اكواد لغات الويب
                 </p>
        </article>
        <video class="vidWidth wow animate__fadeInUp" [ngClass]="{'vidWidth-2':width}" [src]="vid" autoplay [muted]="true" loop data-wow-delay="0.5s">
        </video>
</section>
